:root {
  --color-black: #282626;
  --color-white: #FFFFFF;
  --color-purple: #656EC2;
  --color-gray: #767676;

  --box-shadow-normal: 0 7px 12px 0 #64646F33;
  --box-shadow-blured: 0 7px 25px 0 #64646F33;
;
}